<mat-toolbar>
    <button mat-stroked-button routerLink="home"> Home </button>
    <button mat-stroked-button routerLink="list"> List </button>
    <button mat-stroked-button routerLink="details"> Details </button>
</mat-toolbar>

<router-outlet></router-outlet>

<!--<app-joke-list></app-joke-list>

<app-joke-details
  [jokeTitle]="jokeTitle"
  (jokeLiked)="onJokeLiked($event)"
></app-joke-details>

<app-joke-details [jokeTitle]="jokeTitle"
                  (jokeLiked)="onJokeLiked($event)"></app-joke-details>

<button (click)="triggerMethod()"> Trigger </button>

!-->
